<div class="contact-main"> 
  <img alt="Open" class="icon-menu" src="https://www.dropbox.com/s/g6o53hybiupob4h/vlcsnap-2015-10-01-22h28m09s102.png?dl=1" width="24px" />
  <div class="content container"> 
    <h1>Get the latest updates from Stories</h1>
    <div class="row"> 
      <div class="col-md-4 col-md-4-offset"></div> <div class="col-md-4"> 
        
 <%= form_for(@signup) do |f| %>
    <div class="field">
      <%= f.label :FirstName%>
      <%= f.text_field :firstname%>
      <br><br>
      <%= f.label :Email%>
      <%= f.text_field :email%>
    </div>
    <div class="actions">
      <%= f.submit "Join" %>
    </div>
    <%end%>
      
      </div> 
    </div>
    <div class="col-md-4 col-md-4-offset"></div> 
  </div> 
</div>